# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.userprefs

# Rider
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs
*.log

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Secrets
appsettings.*.local.json
secrets.json
